@import "tailwindcss";

@theme {
  --color-brand-red: #C31C1A;
  --color-light-red: #8D0210;
  --color-brand-gray: rgba(127, 127, 127,0.60);
  --color-main-text: #FFFBFB;
  --color-desc-text: #D3D3D3;
  --color-main-bg: #121010;
  --color-card-bg: rgba(255, 255, 255, 0.01);
  --color-card-border: rgba(255, 255, 255, 0.1);
  --color-input-bg: #1F1F1F;
  --color-glow-spot: #52050C;

  /* Шрифты */
  --font-title: "REM", sans-serif;
  --font-body: "Raleway", sans-serif;
  --font-mono: "Roboto Mono", monospace;
}

:root.light {
  color-scheme: light;

  --color-main-bg: #FFFFFF;
  --color-main-text: #121010;
  --color-desc-text: #4b5563;
  --color-card-bg: #FFFFFF;
  --color-card-border: rgba(0, 0, 0, 0.1);
  --color-brand-red: #A31614;
  --color-glow-spot: #FF6B7A;

  --color-input-bg: #E6E6E6;
}

/* ГЛАВНОЕ ПРАВИЛО: */
/* Применяем плавный переход ко всем элементам, которые умеют менять цвет */
:root {
  color-scheme: dark;
  --theme-transition:
  background-color 0.6s cubic-bezier(0.4, 0, 0.2, 1),
  border-color 0.6s cubic-bezier(0.4, 0, 0.2, 1),
  color 0.6s cubic-bezier(0.4, 0, 0.2, 1),
  fill 0.6s cubic-bezier(0.4, 0, 0.2, 1),
  opacity 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

body,
header,
footer,
main,
section,
div,
span,
p,
h1, h2, h3, h4,
button,
input,
textarea,
svg,
path {
  transition: var(--theme-transition);
}

/* Select без transition для background чтобы не мигал */
select {
  transition: border-color 0.6s cubic-bezier(0.4, 0, 0.2, 1),
              color 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.animate-fade-in, .glow-spot {
  will-change: opacity, transform;
}

/* Убираем фон в светлой теме плавно */
.light .absolute.pointer-events-none.z-0 {
  opacity: 0;
}

@layer base {
  body {
    background-color: var(--color-main-bg);
    color: var(--color-main-text);
    font-family: var(--font-body);
  }
  button {
    transition-duration: 750ms;
  }
  /* Стили для select и option */
  select {
    background-color: var(--color-card-bg);
  }
  /* option {
    background-color: var(--color-main-bg); 
    color: var(--color-main-text);
  } */
  option {
    background-color: #121010; 
    color: #FFFBFB;
  }
}

@layer components {
  .card-expand {
    transition: height 0.5s cubic-bezier(0.4, 0, 0.2, 1),
                margin-top 0.5s cubic-bezier(0.4, 0, 0.2, 1),
                padding-top 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@keyframes slideInRight {
  from { opacity: 0; transform: translateX(20px); }
  to { opacity: 1; transform: translateX(0); }
}

.animate-slide-text {
  animation: slideInRight 0.5s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.animate-fade-in {
  animation: fadeIn 0.2s ease-out forwards;
}

.light option {
  background-color: #FFFFFF;
  color: #121010;
}