@import "tailwindcss";

@theme {
  --color-brand-red: #C31C1A;
  --color-light-red: #8D0210;
  --color-brand-gray: rgba(127, 127, 127,0.60);
  --color-main-text: #FFFBFB;
  --color-desc-text: #D3D3D3;
  --color-main-bg: #121010;
  --color-card-bg: rgba(255, 255, 255, 0.01);
  --color-card-border: rgba(255, 255, 255, 0.1);
  --color-input-bg: #1F1F1F;
  --color-glow-spot: #52050C;

  /* Шрифты */
  --font-title: "REM", sans-serif;
  --font-body: "Raleway", sans-serif;
  --font-mono: "Roboto Mono", monospace;
}

@custom-variant light (&:where(.light, .light *));

:root {
  color-scheme: dark;
}

:root.light {
  color-scheme: light;
  --color-main-bg: #FFFFFF;
  --color-main-text: #121010;
  --color-desc-text: #4b5563;
  --color-card-bg: #FFFFFF;
  --color-card-border: rgba(0, 0, 0, 0.1);
  --color-brand-red: #A31614;
  --color-glow-spot: #FF6B7A;
  --color-input-bg: #E6E6E6;
}

@layer base {
  body {
    background-color: var(--color-main-bg);
    color: var(--color-main-text);
    font-family: var(--font-body);
  }

  select {
    background-color: var(--color-card-bg);
  }

  option {
    background-color: #121010;
    color: #FFFBFB;
  }
}

/* ВОТ ЭТОТ КЛАСС БУДЕТ ВЫКЛЮЧАТЬ АНИМАЦИИ НА ДОЛЮ СЕКУНДЫ */
.theme-transition-disable * {
  transition: none !important;
}

@keyframes slideInRight {
  from { opacity: 0; transform: translateX(20px); }
  to { opacity: 1; transform: translateX(0); }
}

.animate-slide-text {
  animation: slideInRight 0.5s ease-out forwards;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.animate-fade-in {
  animation: fadeIn 0.2s ease-out forwards;
  will-change: opacity, transform;
}

@keyframes slideOutRight {
  from { opacity: 1; transform: translateX(0); }
  to { opacity: 0; transform: translateX(30px); }
}

.animate-notification-in {
  animation: slideInRight 0.25s ease-out forwards;
}

.animate-notification-out {
  animation: slideOutRight 0.4s ease-in forwards;
}

.light option {
  background-color: #FFFFFF;
  color: #121010;
}